.leftNewsTitle.activeNews {
    background: #021f4e;
    color: #fff;
    padding: 5%;
    border-radius: 5px;
}

.leftNewsTitle {
    cursor: pointer;
    padding: 3%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

h1.title{
    font-size: 32px;
}

.contentInfo_text{
    font-size: 15px;
    line-height: 1.6;
}

.contentInfo_time{
    color: #4f6d8c;
}

.newsInfo_row{
    border-top: 1px solid #eeeeee;
    padding-top: 2%;
}