.innerInfo .accNum {
    font-size: 12px;
}

.icon-box {
    display: none;
}

.innerInfo {
    margin-left: 0 !important;
}

.personInfo, .leftInfo {
    display: block;
}

.innerInfo {
    margin-left: 0;
}

.innerInfo li:first-child {
    display: block;
}

.innerInfo li:first-child > span {
    display: block;
}

.paymentBox .bank-top > span {
    font-size: 12px;
}

.payNote {
    font-size: 12px;
}

.passUpdate {
    margin-top: 2rem;
}

.paymentBox .form-group {
    display: block;
}

.paymentBox .bank-top > span:first-child {
    width: 28%;
}

i.iconfont.icon-zhanghu {
    font-size: 2rem;
}

/*qr*/
#inviteImg {
    width: 100%;
    height: 100%;
}











