.faultReportInfo{
    height: 10rem!important;
    width: 100%;
    resize: none;
    overflow: auto;
}
.faultLi{
    background: #f5f5f5;
    padding: 1%;
    border-radius: 3rem;
    padding-left: 2rem;
}
.faultLi>p>span:first-child{
    font-size: 16px;
}
.faultLi>p>span:last-child{
    font-size: 14px;
}