.navbar-default,.footer{
    background: transparent!important;
}
.navbar-default{
    border-bottom: 0.1px solid #4cc2e41c;
}
.form-box {
    padding: 5% 0 10% 0!important;
}
.form-header .f24,.reset-p{
    font-size: 14px;
}
.form-box input{
    border-bottom: 0.1px solid #4CC2E4!important;
}
