.canHandleAmount{
    margin-top: 2%;
    margin-bottom: 2%;
}
.canHandleAmount p{
    margin-bottom: 0;
    font-size: 14px;
}
.canHandleAmount .canHandleInnerBox{
    background: #82ca9c1c;
    padding: 1%;
    border-radius: 0.5rem;
}
.BOCRateChannel{
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
    padding: 5%;
    border-radius: 1rem;
}

.BOCRateChannel .form-group .cny{
    border: 0.1px solid #999999;
    padding: 0.7% 5%;
}
.BOCRateChannel .form-group .icon-ai203{
    font-size: 24px;
}
.icbc{
    margin-top: 5%;
}

.minimumLimit h6,.Period h6,.defaultRate,.user_level h6{
    width: 29%;
    font-weight: unset;
}
.minimumLimit .form-group,.Period .form-group,.startRate .input-group{
    width: 71%;
}

.margin-right-15{
    margin-right: 15%;
    margin-bottom: 0;
}
.icbcRateRow{
    margin-top:5%;
}

/*=====================*/
.bankTypeItem{
    border-bottom: 1px solid #9e9e9e;
    padding: 1%;
}
.notSet{
    width: 33%;
    color: #9e9e9e;
}
.notSet p{
    /*display: none;*/
}
.showRate{
    margin-left: 1rem;
}
.rateColBox p{
    line-height: 2.5;
}
