body,html{
    background-image: linear-gradient(to bottom, #020e28 0%, #07234e 10%, #020e28 100%);
}
.navbar-default,.footer{
    background: transparent;
}
.navbar-default{
    border-bottom: 0.1px solid #81cb9b91;;
}
.navbar-default a:hover,.footerTL li a:hover,.footerTR li a:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/*主体*/
#content .sec-row {
    margin-top: 30px;
    margin-bottom: 50px;
}
.form-header .c-login {
    text-decoration: none;
}
.c-login:hover {
    color: #82ca9c;
    text-decoration: none;
}

.form-box {
    padding: 5% 15%;
}
.form-box input{
    width: 100%;
    background: transparent;
    color: #ffffff;
    height: 100%;
    border: unset;
    border-bottom: 0.1px solid #81cb9b;
    opacity: 0.8;
}
.form-box input:focus{
    opacity: 1;
    box-shadow: none;
}
.form-box li {
    height: 40px;
    line-height: 40px;
}
.form-header{
    margin-bottom: 10%;
}
.form-header .f24 {
    font-size: 18px;
    color: #999999;
}
.form-box li.left {
    width: 260px;
}

.mess-ul {
    clear: both;
}
.mess-ul>li{
    height: 35px;
    margin-bottom: 10%;
}
.register {
    width: 100%;
    height: 40px;
    font-size: 20px;
    display: inline-block;
    padding: 0;
    margin-top: 25px;
}
.reset-p {
    text-align: right;
    font-size: 14px;
}
.emailResetBox li,.phoneResetBox li{
    position: relative;
}
.input_tips{
    display: none;
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;
}
