.margin-bottom-0{
    margin-bottom: 0;
}
.margin-bottom-0 input{
    border-radius: 5px;
    height: 38px;
}
.phone-padding{
    padding:2% 0;
}
.phoneGetCode{
    margin-left: 2%;
}
.fundPasswordEnable{
    width: 100%;
}
