.positive, .negative {
    width: 100%!important;
    height: 230px!important;
    padding: 5px!important;
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}
.submitBox{
    margin-right: 1rem;
    margin-left: 1rem;
}