/* ==========================================================================
   Mobile custom styles
   ========================================================================== */
html,
body {
    font-size: 14px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', "微软雅黑", sans-serif;
    font-weight: 300;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin: 0 0 15px;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 12px;
    height: 40px;
}

.form-control:focus {
    border-color: #4CC2E4;
}

h1,
h2,
h3 {
    font-weight: 300;
    margin: 0;
}

h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .5rem;
}

h3 {
    font-weight: 300;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 0.6rem;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

h6 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

p:last-child {
    margin-bottom: 0;
}

.phoneMargin-top-5 {
    margin-top: 5%;
}

.phoneMargin-bottom-5 {
    margin-bottom: 5%;
}

.phoneMargin-left-5 {
    margin-left: 5%;
}

.phoneMargin-right-5 {
    margin-right: 5%;
}

/*.home-wrap h1,*/
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

/*
Section
*/
section {
    padding: 2rem 0;
}

section.msg {
    padding-bottom: 0;
    padding-top: 0;
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled {
    color: #ffffff;
    background-color: #4CC2E4;
    border-color: #4CC2E4;
}

.btn-primary:hover {
    background-color: #4CC2E4;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.728571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-default {
    border-radius: 0;
    background: #4CC2E4;
    color: #ededed;
    border: 0;
    padding: 12px 15px;
    max-width: 160px;
    margin-top: 20px;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.btn-success {
    background-color: transparent;
    color: #4CC2E4;
    border: 1px solid #4CC2E4;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #4CC2E4 !important;
    border-color: transparent !important;
    box-shadow: unset;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top: 2px;
}

input::-moz-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top: 2px;
}

input:-ms-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top: 2px;
}

textarea::-webkit-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top: 2px;

}

textarea::-ms-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top: 2px;
}

/*For Menu Style*/
.navbar-default {
    color: #c7cce6;
    background-image: linear-gradient(to right, #041636, #0b2758);
    border-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #4CC2E4;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #c7cce6;
    font-size: 14px;
}

.navbar-default .navbar-nav li a :hover {
    color: #4CC2E4;
}

.navbar-default .collapse .login a {
    color: #4CC2E4;
    border: 1px solid #4CC2E4;
    border-radius: 20px;
    padding: 4px 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
    overflow: hidden;
}

.navbar-default .collapse .login:hover a {
    background-color: #4CC2E4;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #4CC2E4;
    background-color: transparent;
}

.navbar-brand h3 {
    line-height: unset;
}

.navbar-default .navbar-brand {
    color: #c7cce6;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #4CC2E4;
}

.dropdown-menu {
    background-image: linear-gradient(to right, #041636, #0b2758);
}

.dropdown-menu > li > a {
    color: #c7cce6;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: transparent;
}

.dropdown-menu > li:hover a {
    color: #4CC2E4;
}

.navbar-header {
    width: 100%;
}

.navbar-brand {
    width: 40%;
    padding-top: 8px !important;
}

.navbar-brand > img {
    height: unset;
}

.container > .navbar-header {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.navbar-toggle {
    margin-right: 0;
}

.personal {
    position: relative;
}

.form-control {
    border: 1px solid #DEDEDE;
    height: 45px;
    border-radius: 0;
    margin-right: -3px;
}

.fa-check-circle {
    color: #4CC2E4;
}

table tbody {
    font-size: 12px;
}

/*scollup icon*/

.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 10;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #4CC2E4;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;
}

.ty-color {
    color: red;
}

.personShow {
    display: none;
    z-index: 1;
    background-image: linear-gradient(to right, #041636, #0b2758);
    width: 8rem;
    position: absolute;
    right: 0;
    top: 100%;
}

.personShow > li {
    cursor: pointer;
}

.personShow > li > a:hover {
    color: #4CC2E4;
}

.personal:hover i {
    color: #4CC2E4;
    cursor: pointer;
}

/*notice message*/
.msg .msgText {
    background: #fcf8e5;
    color: #b48728;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 0;
    line-height: unset;
    padding: 2% 0;
}

.msg-row {
    position: relative;
}

.msg-row > .msg-col {
    background: #fcf8e5;
}

.msg-content p {
    font-size: 12px;
}

.msgText + i {
    position: absolute;
    right: 0.5%;
    top: 0;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    color: #b48728;
}

.msgText + i.active {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: 0.5s liner;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.msg-content {
    padding-left: 1rem;
    display: none;
}

.msg-content li {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
}

.breadcrumb {
    background: transparent;
    margin-bottom: 0;
}

/*table*/
.table thead {
    background: #4cc2e41c !important;
}

.table-hover > tbody > tr:hover {
    background-color: #4cc2e41c;
}

.table td, .table th {
    border-bottom: 0.1px solid #c5f2ff;
    line-height: 25px !important;
}

.table > thead > tr > th {
    border-bottom: 2px solid #c5f2ff;
    font-weight: unset;
}

.table-responsive {
    border: unset;
}

.pcTitle {
    display: none;
}

.phoneTitle {
    display: block;
}

.margin-top-5 {
    margin-top: 5%;
}

/*flex*/
.phoneFlex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}

.phoneFlex.space-between {
    justify-content: space-between;
}

.phoneFlex.space-around {
    justify-content: space-around;
}

.phoneFlex.center {
    align-items: center;
}

.phoneFlex.space-between.center {
    justify-content: space-between;
    align-items: center;
}

.phoneFlex.wrap {
    flex-wrap: wrap;
}

/*margin*/
.phone-marign-top-1 {
    margin-top: 1%;
}

.phone-margin-top-5 {
    margin-top: 5%;
}

.phone-margin-top-0 {
    margin-top: 0;
}

.phone-margin-top-5 {
    margin-top: 5%;
}

.phone-margin-top-2 {
    margin-top: 2%;
}

.phone-marign-bottom-1 {
    margin-bottom: 1%;
}

.phone-margin-bottom-0 {
    margin-bottom: 0;
}

.phone-margin-bottom-2 {
    margin-bottom: 2%;
}

.phone-margin-bottom-5 {
    margin-bottom: 5%;
}

.phone-marign-left-1 {
    margin-left: 1%;
}

.phone-margin-left-0 {
    margin-left: 0;
}

.phone-margin-left-2 {
    margin-left: 2%;
}

.phone-margin-left-5 {
    margin-left: 5%;
}

.phone-marign-right-1 {
    margin-right: 1%;
}

.phone-margin-right-0 {
    margin-right: 0;
}

.phone-margin-right-2 {
    margin-right: 2%;
}

.phone-margin-right-5 {
    margin-right: 5%;
}

/*,.layui-layer-setwin*/
.layui-layer-page {
    border-radius: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layui-layer-title {
    display: none;
}

.layui-layer-content {
    width: 100%;
    padding: 0 6rem 0 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layui-layer-content > ul {
    width: 100%;
    margin-bottom: 0;
}

.layui-layer-content li {
    margin-bottom: 15px;
}

.layui-layer-content li > span {
    font-size: 14px;
    display: inline-block;
    width: 20%;
}

.layui-layer-content li > input {
    display: inline-block;
    line-height: 35px;
    width: 80%;
}

.layui-layer-content .btn-success {
    width: 100%;
    height: 45px;
}

.content {
    min-height: 54%;
}

/*footer*/
section.footer {
    padding: 2rem 0;
}

.footer {
    background: #020f27;
}

.left-row {
    border-bottom: 1px solid #999999;
    padding-bottom: 0rem;
}

.footerTL > ul {
    flex-wrap: wrap;
}

.footerTL li a {
    color: #999999;
    font-size: 14px;
}

.footerTL li a:hover {
    color: #4CC2E4;
}

.footerIconBox {
    text-align: left;
}

.hint {
    margin-top: 2rem;
}
