/* ==========================================================================
   PC custom styles
   ========================================================================== */
body {
    overflow: hidden;
}

html,
body {
    font-size: 16px;
    color: #565656;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', "微软雅黑", sans-serif;
    font-weight: 300;
}

.navbar-header {
    width: 20%;
}

.navbar-brand {
    padding: 0 !important;
}

.navbar-brand > img {
    height: 100%;
}

.content {
    min-height: 80%;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 12px;
    height: 40px;
}

.form-control:focus {
    border-color: #82ca9c;
}

h1,
h2,
h3 {
    font-weight: 300;
    margin: 0;
}

h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .5rem;
}

h3 {
    font-weight: 300;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 0.6rem;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

h6 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

p:last-child {
    margin-bottom: 0px;
}

/*.home-wrap h1,*/
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

/*
Section
*/
section {
    padding: 4rem 0;
}

.section-top-2 {
    padding-top: 2rem;
}

section.msg {
    padding-bottom: 0;
    padding-top: 0rem;
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled {
    color: #82ca9c;
    background-color: transparent;
    border-color: #82ca9c;
}

.btn-primary:hover {
    background-color: #82ca9c;
    color: #ffffff;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.728571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-default {
    border-radius: 0px;
    background: transparent;
    color: #82ca9c;
    border: 0.1px solid #82ca9c;
    padding: 12px 15px;
    max-width: 160px;
    margin-top: 20px;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #82ca9c;
    background-color: transparent;
    border-color: #82ca9c;
}

.btn-success {
    background-color: transparent;
    color: #82ca9c;
    border: 1px solid #82ca9c;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #82ca9c;
    border-color: transparent;
    box-shadow: unset;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: unset;
}

/*for placeholder changes*/
.intl-tel-input {
    width: 100%;
}

input::-webkit-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top: 2px;
}

input::-moz-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top: 2px;
}

input:-ms-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top: 2px;
}

textarea::-webkit-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top: 2px;

}

textarea::-ms-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top: 2px;
}

/*For Menu Style*/
.navbar-default {
    color: #c7cce6;
    background-image: linear-gradient(to right, #041636, #0b2758);
    border-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #82ca9c;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #c7cce6;
    font-size: 14px;
}

.navbar-default .navbar-nav li a :hover {
    color: #82ca9c;
}

.navbar-default .collapse .login a {
    color: #82ca9c;
    border: 1px solid #82ca9c;
    border-radius: 20px;
    padding: 4px 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
    overflow: hidden;
}

.navbar-default .collapse .login:hover a {
    background-color: #82ca9c;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #82ca9c;
    background-color: transparent;
}

.navbar-brand h3 {
    line-height: unset;
}

.navbar-default .navbar-brand {
    color: #c7cce6;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #82ca9c;
}

.dropdown-menu {
    background-image: linear-gradient(to right, #041636, #0b2758);
}

.dropdown-menu > li > a {
    color: #c7cce6;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: transparent;
}

.dropdown-menu > li:hover a {
    color: #82ca9c;
}

.personal {
    position: relative;
}

.form-control {
    border: 1px solid #DEDEDE;
    height: 45px;
    border-radius: 0px;
    margin-right: -3px;
}

.fa-check-circle {
    color: #82ca9c;
}

/*scollup icon*/

.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 10;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #82ca9c;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -9px;
    margin-left: -6px;
    text-decoration: none;
}

.ty-color {
    color: red;
}

.personShow {
    display: none;
    z-index: 1;
    background-image: linear-gradient(to right, #041636, #0b2758);
    width: 8rem;
    position: absolute;
    right: 0px;
    top: 100%;
}

.personShow > li {
    cursor: pointer;
}

.personShow > li > a:hover {
    color: #82ca9c;
}

.personal:hover i {
    color: #82ca9c;
    cursor: pointer;
}

/*notice message*/
.msg .msgText {
    /*background: #fcf8e5;*/
    color: #b48728;
    cursor: pointer;
    font-size: 14px;
    line-height: 3;
}

.msg-row {
    position: relative;
}

.msg-row > .msg-col {
    background: #fcf8e5;
}

.msg-content p {
    font-size: 12px;
}

.msgText + i {
    position: absolute;
    right: 0.5%;
    top: 0;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    color: #b48728;
}

.msgText + i.active {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: 0.5s liner;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.msg-content {
    padding-left: 1rem;
    display: none;
}

.msg-content li {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
}

.breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 14px
}

/*table*/
.table {
    width: 100%;
}

.table thead {
    background: #82ca9c1c;
}

.table-hover > tbody > tr:hover {
    background-color: #82ca9c1c;
}

.table td, .table th {
    font-size: 14px;
    text-align: center;
    line-height: 35px !important;
    border: unset;
    border-bottom: 0.1px solid #c5ecd3;
}

.table > thead > tr > th {
    font-weight: 500;
    vertical-align: bottom;
    border-bottom: 2px solid #c5ecd3;
}

/*=========register-login-reset============*/
.registerToggleBox li, .loginToggleBox li, .resetToggleBox li {
    font-size: 14px;
    color: #999;
    cursor: pointer;
}

.registerToggleBox li:hover, .loginToggleBox li:hover, .resetToggleBox li:hover {
    color: #82ca9c;
}

.registerToggleBox li.active, .loginToggleBox li.active, .resetToggleBox li.active {
    color: #82ca9c;
}

.countryCodeBox {
    position: relative;
}

.countryCode {
    position: absolute;
    top: 6%;
    left: 13%;
}

.intl-tel-input.allow-dropdown input[type=tel] {
    padding-left: 25%;
}

/*phoneRegisterBox-phoneLoginBox-phoneResetBox*/

/*.phoneRegisterBox,.phoneLoginBox,.phoneResetBox{*/
/*display: none;*/
/*}*/
.emailRegisterBox, .emailLoginBox, .emailResetBox {
    display: none;
}

.country {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    align-items: center;
    margin-bottom: 0;
}

/*flex*/
.flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between.center {
    justify-content: space-between;
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.start {
    justify-content: flex-start;
}

.flex.end {
    justify-content: flex-end;
}

.pcTitle {
    display: block;
}

.phoneTitle {
    display: none;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.align-center {
    text-align: center;
}

/*layer*/

/*,.layui-layer-setwin*/
.layui-layer-page {
    border-radius: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layui-layer-title {
    display: none;
}

.layui-layer-content {
    width: 100%;
    padding: 0rem 6rem 0 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layui-layer-content > ul {
    width: 100%;
    margin-bottom: 0;
}

.layui-layer-content li {
    margin-bottom: 15px;
}

.layui-layer-content li > span {
    font-size: 14px;
    display: inline-block;
    width: 20%;
}

.layui-layer-content li > input {
    display: inline-block;
    line-height: 35px;
    width: 80%;
}

.layui-layer-content .btn-success {
    width: 100%;
    height: 45px;
}

/*footer*/
section.footer {
    padding: 2rem 0;
    background: #020f27;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.left-row {
    border-bottom: 1px solid #999999;
    padding-bottom: 0rem;
}

.footerTL li {
    margin: 0 1%;
    font-size: 14px;
}

.footerTL li a {
    color: #b9c4ce;
}

.footerTL li a:hover {
    color: #82ca9c;
}

.footerIconBox {
    /*text-align: right;*/
    width: 50%;
}

.footerIconBox a{
    color: #b9c4ce;
    margin: 0 1%;
}

.footerIconBox i {
    margin: 0 1%;
    font-size: 1.5rem;
}

.footerIconBox i:hover {
    color: #82ca9c;
    cursor: pointer;
}

.footer-copyright {
    color: #b9c4ce;
    text-align: center;
}

.footer-copyright p {
    font-size: 12px;
}

.footer-copyright p {
    font-size: 12px;
}

.hint {
    /*margin-top: 2rem;*/
}

/*==================*/
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #ffffff;
}

/*=====================*/
/*密码强度*/
.pw-strength {
    display: none;
    clear: both;
    position: absolute;
    top: 30%;
    left: 100%;
    width: 180px;
}

.pw-bar {
    background: url(../../assets/img/pwd-1.png) no-repeat;
    height: 14px;
    overflow: hidden;
    width: 179px;
}

.pw-bar-on {
    background: url(../../assets/img/pwd-2.png) no-repeat;
    width: 0px;
    height: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: width .5s ease-in;
    -moz-transition: width .5s ease-in;
    -webkit-transition: width .5s ease-in;
    -o-transition: width .5s ease-in;
}

.pw-weak .pw-defule {
    width: 0px;
}

.pw-weak .pw-bar-on {
    width: 55px;
}

.pw-medium .pw-bar-on {
    width: 110px;
}

.pw-strong .pw-bar-on {
    width: 176px;
}

.pw-txt {
    width: 180px;
    overflow: hidden;
}

.pw-txt span {
    font-size: 12px;
    color: #707070;
    float: left;
    text-align: center;
    width: 58px;
}

.pw-weak .weak {
    color: red;
}

.pw-weak .medium {
    color: #707070;
}

.pw-weak .strong {
    color: #707070;
}

.pw-medium .weak {
    color: #707070
}

.pw-medium .medium {
    color: orange
}

.pw-medium .strong {
    color: #707070
}

.pw-strong .weak {
    color: #707070
}

.pw-strong .medium {
    color: #707070
}

.pw-strong .strong {
    color: green
}

/*margin*/
.margin-top-0 {
    margin-top: 0;
}

.margin-top-1 {
    margin-top: 1%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-2 {
    margin-top: 2%;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-1 {
    margin-bottom: 1%;
}

.margin-bottom-2 {
    margin-bottom: 2%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.margin-bottom-10 {
    margin-bottom: 10%;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-left-1 {
    margin-left: 1%;
}

.margin-left-2 {
    margin-left: 2%;
}

.margin-left-5 {
    margin-left: 5%;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-right-1 {
    margin-right: 1%;
}

.margin-right-2 {
    margin-right: 2%;
}

.margin-right-5 {
    margin-right: 5%;
}

/*icon*/
.redIcon {
    color: red;
}

.greenIcon {
    color: green;
}

.font-weight-400 {
    font-weight: 400;
}

/*phoneTitle-pcTitle*/
.pcTitle, .phoneTitle {
    font-weight: 400;
}

/*手机验证码倒计时*/
.sixty {
    display: none;
}

/*page分页css*/
.pagingUl {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagingUl li {
    float: left;
    width: 30px;
    height: 30px;
    list-style: none;
    text-align: center;
}

.pagingUl li a {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    padding: 0;
    background: #fafafa;
    color: #666;
    font-size: 12px;
    border: 1px solid #ddd;
}

.prv, .next {
    /*width: 30px;*/
    /*height: 30px;*/
    /*float: left;*/
    text-align: center;
    /*line-height: 30px;*/
    /*border: 1px solid #ddd;*/
    cursor: pointer;
}

.first, .last {
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pageTest {
    width: 1000px;
    height: 50px;
    margin-top: 100px;
}

.activP {
    background-color: #367fa9 !important;
    color: #fff !important;
}

/*margin-padding-width*/
/*margin*/
.margin-top-0 {
    margin-top: 0;
}

.margin-top-1 {
    margin-top: 1%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-10 {
    margin-top: 10%;
}

.margin-top-2 {
    margin-top: 2%;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-1 {
    margin-bottom: 1%;
}

.margin-bottom-2 {
    margin-bottom: 2%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-left-1 {
    margin-left: 1%;
}

.margin-left-2 {
    margin-left: 2%;
}

.margin-left-5 {
    margin-left: 5%;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-right-1 {
    margin-right: 1%;
}

.margin-right-2 {
    margin-right: 2%;
}

.margin-right-5 {
    margin-right: 5%;
}

.padding-1 {
    padding: 1%;
}

/*width*/
.width-20 {
    width: 20%;
}
.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.width-100 {
    width: 100%;
}

[v-cloak] {
    display: none;
}

.none {
    display: none;
}

.block {
    display: block;
}